<html>
    <head>
        <title>Create | Forum | App | Teen Investing</title>

        <link rel="stylesheet" href="/core.css">
        <link rel="stylesheet" href="/chat/create.css">
    </head>

    <body>
        <button id="back" onclick="window.location.href = '/chat'">Back</button>

        <div id="main">
            <div class="input-group">
                <p>Create a chat</p>
                <input id="join-input" placeholder="Chat name">
                <button class="" onclick="window.location.href = '/chat/create/' + document.getElementById('join-input').value">Create</button>    
            </div>
        </div>
    </body>
</html>